.logo__text{
    font-size: 20px;
    color: black;
    font-family: "jost-regular", sans-serif; 
    font-weight: 500;
}
.logo__block{
    width: 140px;
    height: 58px;
    display: flex;
    align-items: center;
    background-color: #D48166;
    padding: 15px 0 15px 20px;
}
.logo__icon{
    margin-left: 14px;
}